<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>km's site</title>
  <link rel="stylesheet" href="/static/common/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/static/common/vendor/summernote/summernote.css">
  <link rel="stylesheet" href="/static/backend/header/header.css">
  <link rel="stylesheet" href="/static/backend/login/login.css"/>
  <%block name="css">
  </%block>
</head>

<body>
  <%include file="common_header.html"/>

  <%block name="container">
  </%block>

  <div id='csrf_token' hidden>${csrf_token}</div>
  % if 'id' in request.session:
  <div id='session_id' hidden>${request.session['id']}</div>
  % endif
</body>
  <script src="/static/common/vendor/jquery/jquery.js"></script>
  <script src="/static/common/vendor/bootstrap/bootstrap.js"></script>
  <script src="/static/common/vendor/sweatalert2/sweatalert.js"></script>
  <script src="/static/common/vendor/summernote/summernote.js"></script>
  <script src="/static/backend/header/header.js"></script>

  <script>
    $( "#logout" ).click(function() {

      var csrf_token = $('#csrf_token').text();

      $.post( "/logout", {
         csrfmiddlewaretoken : csrf_token,
       })
      .done(function( data ) {
        if(data.return == 'success'){
          window.location.href = "/login";
        }
        else{
          console.log('error');
        }
      });
    });
  </script>
<%block name="js">
</%block>
</html>
